.container{
  margin-top: 20px;
}

.tab-content .row{
  margin-bottom: 30px;
}
.container .nav-item .nav-link{
  color: rgb(0, 0, 0,0.5);
}
.container .nav-item .nav-link:focus{
  background-color: rgba(56,117,61,0.8);
  color: #ffffff;
  font-weight: bold;
}
.container .nav-item .nav-link:hover{
  border: 1px solid #38753D;
  font-weight: bold;
}
.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('img/logo-travel.png');
    background-size: 65%;
}
.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('img/logo-i.png');
  background-size: 65%;
}
.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('img/logo-Farm.png');
  background-size: 65%;
}
.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('img/logo-efun.png');
  background-size: 65%;
}
.card--6 .card__img, .card--6 .card__img--hover {
  background-image: url('img/logo-excise.png');
  background-size: 65%;
}
.card--7 .card__img, .card--7 .card__img--hover {
  background-image: url('img/logo-ha.png');
  background-size: 45%;
}
.card--8 .card__img, .card--8 .card__img--hover {
  background-image: url('img/logo-local.png');
  background-size: 65%;
}
.card_link{
  text-decoration: none;
}
.card__time{
  color: #000000;
}
.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150%;
    height: 200px;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
    
  }
.card__search-info {
    float: right;
}

.svg-icon {
    width: 25px;
  vertical-align: middle;
    fill: #38753D;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0.7;
    top: 0;
}
  
.card__img--hover {
    transition: 0.2s all ease-out;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
    position: absolute;
      height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    
}
.card {
    border: 5px solid rgba(56, 117, 61, 0.35);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    margin-top: 30px;
}
.card__info {
  z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
     padding: 16px 24px 24px 24px;
  }
  
  .card__category {
      font-family: "Microsoft JhengHei";
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 500;
    color: #868686;
  }
  
  .card__title {
      margin-top: 5px;
      margin-bottom: 10px;
      font-family: "Microsoft JhengHei";
  }

  .bonus-number-bg {
    transition: 0.2s all ease-out;
    background-color: #FCE3A0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #CF8800;
}
.bonus-number-bg-three {
  transition: 0.2s all ease-out;
  background-color: #FCE3A0;
  width: 60px;
  height: 50px;
  border-radius: 100px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #CF8800;
}
.card__date {
  margin-top: 10px;
  font-weight: 600;
  color: #38753D;
  opacity: 0.8;
}
.card__date-i {
  margin-top: 90px;
  font-weight: 600;
  color: #38753D;
  opacity: 0.8;
}
.bonus-number-bg:hover {
    transform: scale(1.2);
}
.bonus-number-bg-three:hover {
  transform: scale(1.2);
}

  .card:hover {
    box-shadow: 0px 25px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1.05, 1.05);
}
.card:hover .card__img--hover {
    height: 50%;
    opacity: 0.6;
  }
  
.card:hover .card__info {
    background-color: transparent;
    position: relative;
  }
  
.card:hover .card__info-hover {
      opacity: 1;
  }

  .card:active {
    box-shadow: 0px 10px 18px -8px rgba(26, 78, 33, 0.9);
    transform: scale(1, 1);
}